
/*맞춤복지서비스*/
.welfare_service{display: none; position: absolute; top:130px; z-index: 82; width: 100%; min-height: 420px; text-align: center;}
.welfare_service button.layer_close{display: block; position: absolute; right: 25px; top: 25px; z-index: 4; width: 60px; height: 60px; border-radius: 50%; border: 0; background-color: rgba(0,0,0,0.25); font-size: 0; color: transparent;}
.welfare_service button.layer_close:before{display: block; position: absolute; left: 21px; top:21px; width: 18px; height: 18px; background: url(/common/images/common_layout/common_icons.png) -60px -120px no-repeat;}
.welfare_service .title_box{position: relative; height: 190px; padding-top: 50px; background-color: #019ba1;}
.welfare_service .title_box:before{display: block; position: absolute; left: 60px; bottom: 0; z-index: 2; width: 357px; height: 175px; background: url(/common/images/common_layout/welfare_bg.png) no-repeat;}
.welfare_service .title_box .inner{position: relative; overflow: hidden; width: 100%; height: 100%;}
.welfare_service .title_box .inner:before{display: block; position: absolute; right: 270px; bottom: 0; z-index: 1; width: 142px; height: 82px; background: url(/common/images/common_layout/welfare_bg2.png) no-repeat;}
.welfare_service .title_box .inner:after{display: block; position: absolute; right: 60px; bottom: 0; z-index: 1; width: 171px; height: 82px; background: url(/common/images/common_layout/welfare_bg3.png) no-repeat;}
.welfare_service h2{position: relative; z-index: 3; margin-bottom: 15px;}
.welfare_service .sub_title{position: relative; z-index: 3; font-size: 18px; color: rgba(255,255,255,0.85);}
.welfare_service .inner_box{padding: 55px 50px 60px;background-color: #fff;}
.welfare_service .service_list{position: relative; height:100%;}
.welfare_service .service_list li{float: left; position: relative; width: calc((100% - 112px) / 8); height: 138px; margin: 0 7px 25px;}
.welfare_service .service_list li input[type="radio"]{position: absolute; top:0; left: 0; z-index: 1;opacity: 0; width: 100%; height: 100%; }
.welfare_service .service_list li label{display: block; position: relative; z-index: 3; height: 100%; padding-top: 100px; border: 1px solid #d9d9d9; font-size: 16px; color: #111; line-height: 20px; box-sizing: border-box; transition: all .1s;}
.welfare_service .service_list li label:before{display: block; position: absolute; top: 50%; left: 50%; width: 70px; height: 70px; margin-left: -35px; margin-top: -46px; background: url(/common/images/common_layout/welfare_sprite.png) no-repeat;}
.welfare_service .service_list li label:after{display: block; position: absolute; left: -1px; top: -1px; z-index: 3; width: calc(100% - 2px); height: calc(100% - 2px); border: 2px solid #019ba1; opacity: 0; transition: .3s;}
.welfare_service .service_list li label .check_img{display: block; position: absolute; top: 7px; right: 7px; width: 26px; height: 26px; background: url(/common/images/common_layout/common_icons.png) -240px -240px no-repeat; transform-origin: center center; transform: scale(0); transition: transform .3s;}
.welfare_service .service_list li.item01 label:before{background-position: left top;}
.welfare_service .service_list li.item02 label:before{background-position: -70px top;}
.welfare_service .service_list li.item03 label:before{background-position: -140px top;}
.welfare_service .service_list li.item04 label:before{background-position: -210px top;}
.welfare_service .service_list li.item05 label:before{background-position: -280px top;}
.welfare_service .service_list li.item06 label:before{background-position: -350px top;}
.welfare_service .service_list li.item07 label:before{background-position: -420px top;}
.welfare_service .service_list li.item08 label:before{background-position: -490px top;}
.welfare_service .service_list li.item09 label:before{background-position: left -140px;}
.welfare_service .service_list li.item10 label:before{background-position: -70px -140px;}
.welfare_service .service_list li.item11 label:before{background-position: -140px -140px;}
.welfare_service .service_list li.item12 label:before{background-position: -210px -140px;}
.welfare_service .service_list li.item13 label:before{background-position: -280px -140px;}
.welfare_service .service_list li.item14 label:before{background-position: -350px -140px;}
.welfare_service .service_list li.item15 label:before{background-position: -420px -140px;}
.welfare_service .btn_wrap{margin-top: 30px; vertical-align: top; font-size: 0;}
.welfare_service .btn_wrap .bt{display: inline-block; width: 120px; height: 45px; margin: 0 5px; border: 0; border-radius: 25px; font-size: 18px; line-height: 18px; background-color: #888; color: #fff; vertical-align: top;}
.welfare_service .btn_wrap .bt.search{background-color: #019ba1;}
.welfare_service .btn_wrap .bt:after{display: inline-block; height: 100%; vertical-align: middle;}
.welfare_service .btn_wrap .bt span{display: inline-block; position: relative; padding-left: 23px; vertical-align: middle;}
.welfare_service .btn_wrap .bt span:before{display: block; position: absolute; left: 0; top: 0; width: 16px; height: 16px; background: url(/common/images/common_layout/common_icons.png) no-repeat;}
.welfare_service .btn_wrap .bt.reset span:before{background-position: -180px -360px;}
.welfare_service .btn_wrap .bt.search span:before{left: -2px; background-position: -240px -360px;}

.welfare_service button.layer_close:hover{background: rgba(0,0,0,0.4);}
.welfare_service .service_list li label:hover{color: #019ba1;}
.welfare_service .service_list li label:hover:after{opacity: 1;}
.welfare_service .service_list li.item01 label:hover:before{background-position: left -70px;}
.welfare_service .service_list li.item02 label:hover:before{background-position: -70px -70px;}
.welfare_service .service_list li.item03 label:hover:before{background-position: -140px -70px;}
.welfare_service .service_list li.item04 label:hover:before{background-position: -210px -70px;}
.welfare_service .service_list li.item05 label:hover:before{background-position: -280px -70px;}
.welfare_service .service_list li.item06 label:hover:before{background-position: -350px -70px;}
.welfare_service .service_list li.item07 label:hover:before{background-position: -420px -70px;}
.welfare_service .service_list li.item08 label:hover:before{background-position: -490px -70px;}
.welfare_service .service_list li.item09 label:hover:before{background-position: left -210px;}
.welfare_service .service_list li.item10 label:hover:before{background-position: -70px -210px;}
.welfare_service .service_list li.item11 label:hover:before{background-position: -140px -210px;}
.welfare_service .service_list li.item12 label:hover:before{background-position: -210px -210px;}
.welfare_service .service_list li.item13 label:hover:before{background-position: -280px -210px;}
.welfare_service .service_list li.item14 label:hover:before{background-position: -350px -210px;}
.welfare_service .service_list li.item15 label:hover:before{background-position: -420px -210px;}

.welfare_service .service_list li input[type="radio"]:focus + label {outline: 1px dashed #999;}
.welfare_service .service_list li input[type="radio"]:checked + label .check_img{transform: scale(1);}
.welfare_service .service_list li input[type="radio"]:checked + label{color: #019ba1;}
.welfare_service .service_list li input[type="radio"]:checked + label:after{opacity: 1;}
.welfare_service .service_list li.item01 input[type="radio"]:checked + label:before{background-position: left -70px;}
.welfare_service .service_list li.item02 input[type="radio"]:checked + label:before{background-position: -70px -70px;}
.welfare_service .service_list li.item03 input[type="radio"]:checked + label:before{background-position: -140px -70px;}
.welfare_service .service_list li.item04 input[type="radio"]:checked + label:before{background-position: -210px -70px;}
.welfare_service .service_list li.item05 input[type="radio"]:checked + label:before{background-position: -280px -70px;}
.welfare_service .service_list li.item06 input[type="radio"]:checked + label:before{background-position: -350px -70px;}
.welfare_service .service_list li.item07 input[type="radio"]:checked + label:before{background-position: -420px -70px;}
.welfare_service .service_list li.item08 input[type="radio"]:checked + label:before{background-position: -490px -70px;}
.welfare_service .service_list li.item09 input[type="radio"]:checked + label:before{background-position: left -210px;}
.welfare_service .service_list li.item10 input[type="radio"]:checked + label:before{background-position: -70px -210px;}
.welfare_service .service_list li.item11 input[type="radio"]:checked + label:before{background-position: -140px -210px;}
.welfare_service .service_list li.item12 input[type="radio"]:checked + label:before{background-position: -210px -210px;}
.welfare_service .service_list li.item13 input[type="radio"]:checked + label:before{background-position: -280px -210px;}
.welfare_service .service_list li.item14 input[type="radio"]:checked + label:before{background-position: -350px -210px;}
.welfare_service .service_list li.item15 input[type="radio"]:checked + label:before{background-position: -420px -210px;}

@media all and (max-width:1280px){
    .welfare_service .service_list li{width: calc((100% - 84px) / 6);}
    .welfare_service .title_box:before{left: 20px; transform: scale(0.7); transform-origin: left bottom;}
    .welfare_service .title_box .inner:before{right: 170px; transform: scale(0.7); transform-origin: right bottom;}
    .welfare_service .title_box .inner:after{right: 20px; transform: scale(0.7); transform-origin: right bottom;}
}

@media all and (max-width:1000px){
    .welfare_service{width: 94%; left: 3%; top: 78px;}
    .welfare_service h2 {padding: 0 20px;}
    .welfare_service .service_list li{width: calc((100% - 56px) / 4); margin-bottom: 14px;}
    .welfare_service button.layer_close{transform: scale(0.6); transform-origin: right top;}

}
@media all and (max-width:640px){
    .welfare_service{top: 64px;}
    .welfare_service .title_box{height: 176px; padding-top: 20px;}
    .welfare_service .title_box:before{left: 50%; margin-left: -179px;transform: scale(0.45); transform-origin: center bottom;}
    .welfare_service .title_box .inner:before{left: 10px; right: auto; transform: scale(0.5); transform-origin: left bottom;}
    .welfare_service .title_box .inner:after{right: -20px; transform: scale(0.5);}
    .welfare_service h2{ margin-bottom: 10px;}
    .welfare_service h2 img{width: 190px;}
    .welfare_service .sub_title{font-size: 14px; line-height: 18px;}
    .welfare_service .sub_title span{display: block;}
    .welfare_service .inner_box{padding: 20px;}
    .welfare_service .service_list{border-top: 1px solid #d9d9d9;}
    .welfare_service .service_list li{width: calc(99.99% / 2); height: 45px;margin: 0;}
    .welfare_service .service_list li label{position: static; padding-left: 45px; padding-top: 0;  border-top: 0; font-size: 14px; line-height: 43px;}
    .welfare_service .service_list li:nth-child(2n) label{margin-left: -1px;}
    .welfare_service .service_list li label:before{margin-top: -32px; margin-left: -58px; transform: scale(0.4); transform-origin: left center;}
    .welfare_service .service_list li.item03 label:before{}
    .welfare_service .service_list li label .check_img{display: none;}
    .welfare_service button.layer_close{right: 10px; top: 10px;}

    .welfare_service .btn_wrap .bt{width: 92px; height: 32px; font-size: 15px; line-height: 16px;}
    .welfare_service .btn_wrap .bt span:before{transform: scale(0.9); transform-origin: center center;}
    .welfare_service .btn_wrap .bt.search span:before{left: 0;}

}


/*연천패밀리홈*/
.family_home{display: none; position: absolute; top:130px; z-index: 82; width: 100%; text-align: center;}
.family_home button.layer_close{display: block; position: absolute; right: 0px; top: -40px; width: 60px; height: 60px; border-radius: 50%; border: 0; background-color: rgba(0,0,0,0.5); font-size: 0; color: transparent;}
.family_home button.layer_close:before{display: block; position: absolute; left: 21px; top:21px; width: 18px; height: 18px; background: url(/common/images/common_layout/common_icons.png) -60px -120px no-repeat;}
.layer_open .header_top:before{display: block; position: fixed; top:0; left: 0; z-index: 70; width: 100%; height: 100%; background-color: rgba(0,0,0,0.6);}
.layer_open.family .header_top:before{display: block; position: fixed; top:0; left: 0; z-index: 70; width: 100%; height: 100%; background-color: rgba(0,0,0,0.85);}
/*.layer_open .header_top{z-index: 1 !important;}*/
.family_home .sub_title{font-size: 18px; color: rgba(255,255,255,1);}
.family_home h2{margin-bottom: 15px;}
.family_home .inner_box{margin-top: 40px;}
.family_home .site_list{height:100%; }
.family_home .site_list h3{height: 70px; border-right: 1px solid rgba(255,255,255,0.2); font-size: 16px; color: #fff; background-color: #019ba1; font-weight: 400;}
.family_home .site_list h3:after{display: inline-block; height: 100%; vertical-align: middle;}
.family_home .site_list h3 span{display: inline-block; vertical-align: middle;}
.family_home .site_list > ul{ width: 100%; border-left: 3px solid #019ba1; border-right: 3px solid #019ba1; border-bottom: 3px solid #019ba1;}
.family_home .site_list > ul > li {float: left; width: calc(99.99% / 6);}
.family_home .site_list > ul > li:last-child h3{border-right: none; width: calc(100% + 1px);}
.family_home .site_list .list{height: calc(100% - 70px); padding-top: 30px; padding-left: 17px; padding-bottom: 30px; border-right: 1px solid rgba(255,255,255,0.15);}
.family_home .site_list > ul > li:last-child .list{border-right: 0;}
.family_home .site_list .list li{position: relative;  margin-bottom: 11px; text-align: left; line-height: 18px;}
.family_home .site_list .list li:last-child{margin-bottom: 0;}
.family_home .site_list .list li a{position: relative; padding-left: 16px; transition: .2s;}
.family_home .site_list .list li a:before{display: block; position: absolute; top: 8px; left: 0; width: 4px; height: 4px; background: url(/common/images/common_layout/common_icons.png) -180px -300px no-repeat;}
.family_home .site_list .list li a span{position: relative; color: #fff; font-size: 15px;}
.family_home .site_list .list li a span:before{display: block; position: absolute; overflow: hidden; bottom:-4px; left: 0; width: 0%; height: 1px; background: url(/common/images/common_layout/dot_02.png) repeat-x; transition: .3s;}
.family_home .site_list .list li a[target="_blank"] span:after{display: inline-block; width: 12px; height:12px; margin-left: 8px; background: url(/common/images/common_layout/common_icons.png) -120px -300px no-repeat; vertical-align: 1px;}

.family_home button.layer_close:hover{background: rgba(0,0,0,0.8);}
.family_home .site_list .list li a:hover:before{background-position: -240px -300px;}
.family_home .site_list .list li a:hover span{color: #a7fcff;}
.family_home .site_list .list li a:hover span:before{width: 100%;}
.family_home .site_list .list li a:hover[target="_blank"] span:after{background-position: -120px -360px;}

@media all and (max-width:1280px){
    .family_home .site_list > ul > li{width: calc(100% / 3); height: auto;}
    .family_home .site_list > ul > li:nth-child(3) h3,
    .family_home .site_list > ul > li:nth-child(3) .list{border-right: 0;}
    .family_home .site_list > ul > li:nth-child(4){clear: left;}
    .family_home .site_list .list{padding-left:30px;}
    .family_home .site_list .list li{margin-bottom: 10px;}
}
@media all and (max-width:1000px){
    .family_home{position: fixed;}
    .layer_open.family{overflow: hidden;}
    .family_home{left: 3%; top: 70px; width: 94%; height: 100%;}
    .family_home .inner_box{height: calc(100% - 220px); overflow-y: auto;}
    .family_home .site_list .list li a{padding-left: 12px;}
    .family_home button.layer_close{transform: scale(0.6); transform-origin: right top;}
}
@media all and (max-width:640px){
    .family_home{top: 64px;}
    .family_home h2{padding: 0 40px; margin-bottom: 10px;}
    .family_home .sub_title{font-size: 14px; line-height: 15px;}

    .family_home .inner_box{height: calc(100% - 170px); margin-top: 25px;}
    .family_home .site_list > ul > li{width: 100%;}
    .family_home .site_list > ul > li h3{height: 40px;font-size: 15px; border-right: 0;}
    .family_home .site_list .list{height: auto; border-right: 0; padding-left: 20px; padding-top: 15px; padding-bottom: 5px;}
    .family_home .site_list .list li{float: left; width: 50%; padding-right: 10px; margin-bottom: 10px;}
    .family_home .site_list .list li:last-child{margin-bottom: 10px;}
    .family_home .site_list .list li a span{font-size: 14px;}
    .family_home .site_list > ul > li:nth-child(n+4){margin-top: 0;}
}