@charset "utf-8";
.autocomplete {z-index:99999; position:relative; width:600px; border:1px solid #aaaaaa; background-color:#f3f3f3; top:20px;}
.autocomplete ul {margin:0; padding:0;}
.autocomplete li {margin:0; padding:0; list-style:none;}
.autocomplete .autocomplete_content {position:absolute; border-bottom:1px solid #aaaaaa; border-left:1px solid #aaaaaa;  border-right:1px solid #aaaaaa;  background-color:#FFF; overflow-x:hidden; overflow-y:auto;}
.autocomplete .autocomplete_content li {color:#777777; width:100%; padding:3px 5px; margin:1px; list-style:none; font-size:16px;}
.autocomplete .autocomplete_content li strong {color:#EA8D07; font-weight:bold; font-style:normal;}
.autocomplete .autocomplete_content li em {color:#e46511; font-weight:bold; font-style:normal;}
.autocomplete .autocomplete_footer {position:relative; font-size:11px; height:26px; text-align:center; background-color:#f3f3f3;}
.autocomplete .autocomplete_footer a {color:#666666; text-decoration:none;}
.autocomplete .autocomplete_footer .left {float:left;}
.autocomplete .autocomplete_footer .right {float:right;}
